.cart-container {
  display: flex;
  margin: auto;
  flex-direction: column;

  width: 100%;

  h1 {
    margin: 0 0 30px 10px;
  }

  h2 {
    margin: 44px 0 22px 0;
  }

  .cart-product-list {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 4px #e8e8e8;
  }

  .cart-summary {
    background-color: #f6fafe;
    width: 100%;
    padding: 24px 32px 80px 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .cart-coupon-section {
      width: 100%;
    }

    .cart-coupon {
      width: 100%;

      form {
        display: flex;
        align-items: center;

        input {
          width: calc(100% - 72px);
          min-height: 54px;
          padding-left: 16px;
          margin-right: -4px;
          border: 1px solid silver;
          border-radius: 4px 0 0 4px;
        }

        button {
          padding: 0 12px;
          background-color: #0970e6;
          color: #fff;
          min-height: 54px;
          width: fit-content;
          border-radius: 4px;

          font-weight: bold;
        }
      }
    }

    .cart-summary-section {
      width: 100%;

      background-color: white;

      border-radius: 10px;
      padding: 16px;
      border: 1px solid silver;

      .cart-summary-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            color: var(--text-light);
          }
        }
        li:last-child {
          font-weight: bold;
          font-size: 1.2rem;

          border-top: 2px solid silver;
          padding-top: 16px;
          margin-bottom: 16px;
          span {
            color: var(--text);
          }
        }
      }
    }
  }

  .cart {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .cart-container {
    flex-direction: row;
    max-width: 1280px;

    .cart-summary {
      position: sticky;
      max-width: 450px;

      flex: 1 1 0;
    }

    .cart {
      width: calc(100% - 450px);
      padding-right: 30px;

      flex: 2 1 0;
    }
  }
}
